{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron text-center">
        <div class="container">
            <h1> Hello !</h1>
            <p>pouet</p>
        </div>
    </div>
{% endblock %}